
.example-style {
    animation: fade-in 3s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

/*.group {*/
/*    padding: 0 !important;*/
/*}*/

.bg-divider{
    margin: 0 !important;
}

ul[role=list]{
    gap: 0 !important;
}